[submodule "VkRenderer/vendor/glfw"]
	path = VkRenderer/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "VkRenderer/vendor/glm"]
	path = VkRenderer/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "VkRenderer/vendor/stb"]
	path = VkRenderer/vendor/stb
	url = https://github.com/nothings/stb
[submodule "VkRenderer/vendor/tinyobjloader"]
	path = VkRenderer/vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "VkRenderer/vendor/spirv-cross"]
	path = VkRenderer/vendor/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "VkRenderer/vendor/volk"]
	path = VkRenderer/vendor/volk
	url = https://github.com/zeux/volk.git
[submodule "VkRenderer/vendor/imgui"]
	path = VkRenderer/vendor/imgui
	url = https://github.com/ocornut/imgui
